.div{
    margin-top: 0;
}

.List{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;

}

.List_div{
    display: flex;
    padding: 10px;
    border-radius: 3cqmin;
    /* box-shadow: inset 10px 10px 18px #080c11,
                inset -10px -10px 18px #202e45; */
}
    

.List_itens{
    font-size: 1.4em;
    font-weight: bolder;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 1.5cqmin;
   /*  background: linear-gradient(145deg, #121a27, #151f2e);
    box-shadow:  9px 9px 20px #080c11,
                -9px -9px 20px #202e45;  */
    cursor: pointer;
}

.List_itens:hover{
    background: linear-gradient(145deg, #ff000027, #ff0000);
}

@media only screen and (max-width: 479px){
    .List_div{
        display: flex;
        padding: 3px;
        border-radius: 3cqmin;
      /*   box-shadow: inset 10px 10px 18px #080c11,
                    inset -10px -10px 18px #202e45; */
    }
        
    
    .List_itens{
        font-size: 12px;
        font-weight: bolder;
        padding: 4px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 1.5cqmin;
        /* background: linear-gradient(145deg, #121a27, #151f2e);
        box-shadow:  9px 9px 20px #080c11,
                    -9px -9px 20px #202e45; */
        cursor: pointer;
    }
    
  /*   .List_itens:hover{
        background: linear-gradient(145deg, #080b11, #131a29);
        box-shadow:  5px 5px 13px #0f161f,
                    -5px 5px 13px #273955;
    } */
}